* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: arial;
    line-height: 1.3;
}

div.cover {
    height: 360px;
    background: url(cover_overlay.png) no-repeat center/100% 100%,url(cover.jpg) no-repeat center/cover;
}

#photo1 {
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    display: block;
    height: 140px;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 0px;
}

div.cover p {
    color: lightgray;
    text-align: center;
    position: relative;
    margin-top: 4px;
    font-size: 14px;
}

div.cover_contact {
    /* background-color: red; */
    position: absolute;
    top: 20px;
    left: 10px;
    border-left: 4px solid #D89584;
    padding-left: 8px;
}

div.cover_contact p {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.cover_contact a {
    color: white;
    font-size: 14px;
}

div.bouton a {
    color: #D89584;
    text-decoration: none;
    border: 4px solid #D89584;
    padding: 8px 20px;
    background-color: #00000040;
    display: inline-block;
    margin-top: 10px;
    font-size: 15px;
}

div.bouton {
    text-align: center;
}

div.bouton a:Hover {
    color: white;
    border: 4px solid white;
}

.section {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.section_grise_1 {
    height: 100px;
    background-color: #F4F4F4;
    padding-bottom: 0px;
}

div.section_grise_2 {
    background-color: #F4F4F4;
    margin-top: -5px;
    overflow: auto;
}

h2 {
    text-align: center;
    font-size: 34px;
    margin-top: 0px;
}

div.separateur {
    height: 1px;
    width: 150px;
    background-color: #979797;
    margin-left: auto;
    margin-right: auto;
}

div.section_grise_1 p {
    text-align: center;
    font-size: 22px;
    color: #656565;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.colonne_gauche {
    width: 40%;
}

div.colonne_droite {
    width: 55%;
    float: right;
}

div.colonne_droite p {
    border-left: 4px solid #D89584;
    margin-top: 0px;
    padding-left: 10px;
    height: 50px;
    display: inline-block;
}

div.colonne_droite a {
    padding-left: 14px;
}

div.barre_verticale {
    height: 50px;
    width: 4px;
    background-color: #D89584;
    margin-right: 10px;
}

.frame {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 50px 50px 50px 50px;
    padding: 50px 70px 50px 70px;
    background-color: #F4F4F4;
    overflow: auto;
}

div.colonne_droite_contact {
    text-align: left;
}

p.barre_verticale_frame {
    border-left: 4px solid #D89584;
    height: 40px;
    margin-top: 0px;
    padding-left: 15px;
    display: inline-block;
}
